.product {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 164px;
    margin: 0 278px;
}

img {
    border-radius: 10px;
    width: 320px;
}

.select-input {
    width: 108px; 
    margin-bottom: 8px;
}

.info, form {
    display: flex;
    flex-direction: column;
}

.info span {
    margin-top: 10px;
}

.select-input {
    width: 150px; 
    padding: 5px;
}

.back-button {
    color: lightskyblue;
    text-decoration: none;
}